@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: ghostwhite;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    overflow: hidden;
}

.profile-images{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    position: relative;
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 5px;
    cursor: pointer;
    will-change: width, height;
}

.img img{
    border-radius: 0.5rem;
}

.profile-names{
    width: 100%;
    height: 20rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    overflow: hidden;
}

.name h1{
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20rem;
    font-weight: 900;
    letter-spacing: -0.5rem;
    line-height: 1;
    color: #2e2e2e;
    user-select: none;
    transform: translateY(100%);
}

.name.default h1{
    color: #e3e3db;
    transform: translateY(-100%);
}

.name h1 .letter{
    position: relative;
    transform: translateY(0%);
    will-change: transform;
}

@media (max-width: 900px){
    section{
        flex-direction: column-reverse;
    }

    .profile-images{
        flex-wrap: wrap;
        max-width: 90%;
        justify-content: center;
    }

    .img{
        width: 100px;
        height: 60px;
        padding: 2.5px;
    }

    .name h1{
        font-size: 4.5rem;
        letter-spacing: 0;
    }

    .profile-names{
        height: 4rem;
    }
}