@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html,
body {
    background-color: #161414;
    height: 100%;
    width: 100%;
    color: #a19b9b;
    cursor: pointer;
}

p {
    font-size: 7vw;
    /* margin-left:15rem; */
    text-transform: uppercase;
    font-weight: 600;
}

.line {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* gap: 1rem; */
}

#text {
    width: 47.5%;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
}

.fancy>.letter:nth-child(1) {}

.fancy>.letter:nth-child(2) {}

.fancy>.letter:nth-child(3) {}

.fancy>.letter:nth-child(4) {}
