* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #343434;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  
}

p{
  font-size: 3rem;
  font-family: helvetica; 
  cursor: pointer;
}




@media screen and (max-width: 600px) {
  p{
    font-size: 1.9rem;
  }

}

