* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #343434;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p{
  font-size: 3rem;
  font-family: helvetica; 
  cursor: pointer;
}


button {
  background: transparent;
  border: 1px solid #000;
  outline: none;
  padding: 20px 20px;
  border-radius: 5%;
  overflow: hidden;
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

button:hover {
  animation: animate-scaleX 0.6s ease;
}

button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;
  transition: transform 0.5s ease,
    border-radius 0.5s ease;
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 0 0;
  transform: translateY(100%);
}

button:hover::after {
  transform: translateY(0%);
  border-radius: 0;
}

button span {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  color: black;
}

button span:after {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  transform: translate(-50%, 100%);
  color: white;
}
button:hover span:after {
  transform: translate(-50%, 0);
}

button:focus {
    outline: none;
}

@keyframes animate-scaleX {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
  }
}


@media screen and (max-width: 600px) {
  p{
    font-size: 1.9rem;
  }

}

