* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
}
html,
body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/Gilroy-Regular.ttf');
}

body {
    background-color: #222;
    color: #fff;
    font-family: Gilroy;
    font-weight: 300;

}

main {
    height: 100%;
    width: 100%;
    background-color: #fffff1;
    color: #000000;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.1em;
    opacity: 0.8;
}

.nav-links {
    display: flex;
    gap: 20px;
    opacity: 0.8;
    /* background-color: #c00000; */
    padding: 14px 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    /* background-color: #ffffff; */
    padding: 10px 20px;
    border-radius: 10px;
}

.hero {
    margin-top: 6%;
}

.hero h1 {
    font-size: 150px;
    font-weight: 600;
    /* font-family: "Helvetica "; */
    line-height: 150px;
    width: 80%;
    margin-left: 10%;
    position: relative;
    z-index: 1;
    opacity: 0.9;

}

.hero h1:nth-child(1) {
    margin-left: 10%;
}

.hero h1:nth-child(2) {
    margin-left: 25%;
}

.hero h1:nth-child(3) {
    margin-left: 35%;
}

.hero img {
    height: 500px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    top: 12%;
    left: 35%;
    filter: saturate(1.2);
}

.img1 {
    rotate: 10deg;
}

.img2 {
    rotate: -10deg;
}

.img3 {
    rotate: 6deg;
}

.img4 {
    rotate: -6deg;
}

.img5 {
    rotate: 4deg;
}

.img6 {
    rotate: -4deg;
}

.img7 {
    rotate: 0deg;
    z-index: 2;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin: 0 -2%;
}

footer h3 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1em;
    opacity: 0.8;
}

footer p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1em;
    opacity: 0.8;

}


@media (max-width: 768px) {

    nav {
        padding: 20px 20px;
    }

    .logo {
        font-size: 20px;
        margin-left: 20px;
    }

    .nav-links {
        display: none;
        
    }
    .hero {
        margin-top: 40%;
    }
    .hero h1 {
        display: none
       
    }

    .hero img {
        height: 400px;
        width: 250px;
        top: 20%;
        left: 25%;
    }

    footer{
        display: none;
    }
    
    
    
}
